*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    padding: 10px;
    background-color: blue;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ul{
        display: flex;
        gap: 20px;
        list-style: none;
        font-weight: 600;
    }
    button{
        padding: 20px;
        border: none;
        border-radius: 10px;
    }
}

main{
    display: flex;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    justify-content: center;
    img{
        width: 100%;
    }
    div{
        margin-top: 50px;
        width: 100%;
        p{
            font-size: 100%;
        }
    }
}

@media (max-width:900px) {
    main{
        flex-direction: column;
    }
}